# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyo
*.pyd
__pycache__/
*.so

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/media
/staticfiles
.env

# Ignore Django migrations
**/migrations/*
!**/migrations/__init__.py

# Environment variables
.env

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# React build output
build/
