{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Management</title>
    <link rel="stylesheet" href="{% static 'attandance_manager/css/attendance_manage_admin.css' %}">
</head>
<body>
    <div class="container">
        <h1>Attendance Manager</h1>
        <div class="button-container">
            <button id="btn-add" class="action-btn">Check and update Attendance</button>
        </div>


        <div class="form-container">
            {% block content %}
            {% endblock %}
        </div>
        <div id="requirement" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form action="{% url 'attendanceHome' %}" method="post">
                    {% csrf_token %}
                    <label for="class">Class: </label>
                    <input type="text" name="class" id="class" required>
                    <label for="semester">Semester:</label>
                    <input type="number" name="sem" id="semester" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'attandance_manager/js/attendance_manage_admin.js' %}"></script>
</body>
</html>
