body{
    background-color: #797d80;
    font-family: arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#main-container{
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 0 15px black;
    border-radius: 10px;
    width: 85%;
    max-width: 500px;
}
h1{
    text-align: center;
}
label{
    display: block;
    margin-top: 10px;
}
input[type="text"], input[type="password"]{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    display: block;
    width: 70%;
    padding: 10px;
    margin-top: 15px;
    background-color: #470e91;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    margin-left: 14%;
}
button:hover{
    background-color: #660cdb;
    transform:translateY(-2px)
}