{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Login</h1>
        </header>
        <form action="{% url 'checkUser' %}" method="post" id="login-form">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter your username" required>
    
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required>
    
            <div class="show-password-container">
                <input type="checkbox" id="show-password" class="show-password">
                <label for="show-password">Show Password</label>
            </div>
    
            <button type="submit">Login</button>
            <button class="back-home"><a href="{% url 'home' %}">Back to Home</a></button>
        </form>
        <div id="error">
            {{errmsg}}
        </div>
        <footer>
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        </footer>
    </div>
    <script src="{% static 'accounts/js/login.js' %}"></script>
</body>
</html>
