{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singup-page</title>
    <link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">
</head>
<body>
    <div id="main-container">
        <button><a href="{% url 'home' %}">Back to Home</a></button>
        <h1>Signup Here</h1>
        <form action="{% url 'save' %}" id="login-from" method="POST">
            {%csrf_token%}
            <label for="first name">First Name:</label>
            <input type="text" name="firstname" id="first name" placeholder="" required> <br>
            
            <label for="last name">Last Name:</label>
            <input type="text" name="lastname" id="last name" placeholder="" required> <br>

            <label for="email">Email:</label>
            <input type="text" name="email" id="email" placeholder="xyz123@gamil.com" required> <br>

            <label for="username">Username</label>
            <input type="text" name="username" id="id_username" placeholder="create username" required/> <br>

            <label for="Create password">Create password:</label>
            <input type="password" name="password" id="Create password" placeholder="Enter strong password" required> <br>

            <label for="Re-Enter password">Re-Enter password:</label>
            <input type="password" name="Re-Enter password" id="Re-Enter password" placeholder="Re-Enter your password" required>

            <button type="submit">Signup</button>
        </form>
        <div class="signup" style="margin-top: 10px;">If you have already account <a href="{% url 'login' %}">Login</a></div>
        <div class="error">
            {{errmsg}}
        </div>
    </div>
</body>
</html>