{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'adminPannel/css/adminPannel.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome, {{firstname}} {{lastname}}</h1>
            <p>Manage and oversee the various aspects of the system from this dashboard.</p>
        </div>
        <div class="navbar">
            <a href="#">Profile</a>
            <a href="{% url 'sign-out' %}">Sign Out</a>
        </div>
        <div class="section">
            <div class="section-header">Management</div>
            <div class="section-content">
                <button><a href="#">Quiz Manager</a></button>
                <button><a href="{% url 'assignment-home' %}?username={{username}}">Assignments Manager</a></button>
                <button><a href="{% url 'attendanceHome' %}">Attendance Manager</a></button>
                <button><a href="#">Classes Manager</a></button>
                <button><a href="#">Announcements</a></button>
                <button><a href="#">Students Manager</a></button>
            </div>
        </div>
    </div>
</body>
</html>
