{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'adminPannel/css/loginAdmin.css' %}">
</head>
<body>
    <div class="container">
        <h1>Admin Login</h1>
        <div class="error">
            {{errmsg}}
        </div>
        <form class="login-form" action="{% url 'admin-login' %}" method="POST" onsubmit="checkFields(event)">
            {% csrf_token %}
            <label for="id_number">ID Number:</label>
            <input type="text" name="id_number" id="id_number" placeholder="Ex: 9900099009">

            <span id="or">OR</span>

            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Ex: username072">

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Ex: username***" required>

            <button type="submit">Login</button>
            <button> <a href="{% url 'admin-home' %}">Back to Admin Home</a></button>
        </form>
        <div class="footer">
            &copy; 2024 Admin Portal. All rights reserved.
        </div>
    </div>
    <script>
        function checkFields(event) {
            var id_number = document.getElementById('id_number').value.trim();
            var username = document.getElementById('username').value.trim();
            var error = document.getElementsByClassName('error')[0]
            if (id_number === "" && username === "") {
                error.innerHTML="Please input either ID number or username."
                event.preventDefault();
            }
        }
    </script>
</body>
</html>
